* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.livepic {
  border: 2px solid black;
  border-radius: 2rem;
  background-image: url(/output/AvatarSprite.webp);
  background-position: 50% 50%;
}